/* Toasts */
@layer components {
  .toaster {
    @apply fixed wrap-break-word p-4 pointer-events-none z-50 w-full sm:max-w-90 flex;

    /* Vertical positioning via data-side */
    &:not([data-side]),
    &[data-side='bottom'] {
      @apply fixed bottom-0 flex-col-reverse;
    }
    &[data-side='top'] {
      @apply fixed top-0 flex-col;
    }

    /* Horizontal positioning via data-align */
    &:not([data-align]),
    &[data-align='end'] {
      @apply fixed right-0;
    }
    &[data-align='start'] {
      @apply fixed left-0;
    }
    &[data-align='center'] {
      @apply fixed left-1/2 -translate-x-1/2;
    }
    /* Bottom toasts animate up */
    &:not([data-side]) .toast,
    &[data-side='bottom'] .toast {
      @apply animate-[toast-up_0.3s_ease-in-out];
    }

    /* Top toasts animate down */
    &[data-side='top'] .toast {
      @apply animate-[toast-down_0.3s_ease-in-out];
    }

    .toast {
      @apply pointer-events-auto w-full mt-4 grid grid-rows-[1fr] transition-discrete transition-[grid-template-rows,opacity,margin,display] duration-300 ease-in-out;
      
      .toast-content {
        @apply text-popover-foreground text-[13px] bg-popover border shadow-lg rounded-lg overflow-hidden flex gap-2.5 p-3 items-center;

        svg {
          @apply size-4 shrink-0;
        }
        section {
          h2 {
            @apply font-medium tracking-tight;
          }
          p {
            @apply text-muted-foreground break-all;
          }
        }
        footer {
          @apply ml-auto flex flex-col gap-2;

          [data-toast-action],
          [data-toast-cancel] {
            @apply h-6 px-2.5 text-xs;
          }
        }
      }
      &[aria-hidden] {
        @apply grid-rows-[0fr] hidden opacity-0 m-0 border-0 p-0 overflow-hidden;

        .toast-content {
          @apply border-0;
        }
      }
    }
  }
}
@keyframes toast-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}
@keyframes toast-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
}