@import "tailwindcss";

.uk-theme-vercel {
  --background: 223.8136 0.0005% 98.6829%;
  --foreground: 0 0% 0%;
  --card: 223.8136 -172.5242% 100.0000%;
  --card-foreground: 0 0% 0%;
  --popover: 223.8136 0.0005% 98.6829%;
  --popover-foreground: 0 0% 0%;
  --primary: 0 0% 0%;
  --primary-foreground: 223.8136 -172.5242% 100.0000%;
  --secondary: 223.8136 0.0001% 92.1478%;
  --secondary-foreground: 0 0% 0%;
  --muted: 223.8136 0.0002% 96.0587%;
  --muted-foreground: 223.8136 0.0000% 32.3067%;
  --accent: 223.8136 0.0001% 92.1478%;
  --accent-foreground: 0 0% 0%;
  --destructive: 358.4334 74.9120% 59.7455%;
  --destructive-foreground: 223.8136 -172.5242% 100.0000%;
  --border: 223.8136 0.0001% 89.5577%;
  --input: 223.8136 0.0001% 92.1478%;
  --ring: 0 0% 0%;
  --chart-1: 40.6655 100.2361% 50.9228%;
  --chart-2: 223.7490 85.9924% 55.8092%;
  --chart-3: 223.8136 0.0000% 64.4710%;
  --chart-4: 223.8136 0.0001% 89.5577%;
  --chart-5: 223.8136 0.0000% 45.6078%;
  --sidebar: 223.8136 0.0005% 98.6829%;
  --sidebar-foreground: 0 0% 0%;
  --sidebar-primary: 0 0% 0%;
  --sidebar-primary-foreground: 223.8136 -172.5242% 100.0000%;
  --sidebar-accent: 223.8136 0.0001% 92.1478%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 223.8136 0.0001% 92.1478%;
  --sidebar-ring: 0 0% 0%;
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.dark.uk-theme-vercel {
  --background: 0 0% 0%;
  --foreground: 223.8136 -172.5242% 100.0000%;
  --card: 223.8136 0.0000% 3.5452%;
  --card-foreground: 223.8136 -172.5242% 100.0000%;
  --popover: 223.8136 0.0000% 6.8692%;
  --popover-foreground: 223.8136 -172.5242% 100.0000%;
  --primary: 223.8136 -172.5242% 100.0000%;
  --primary-foreground: 0 0% 0%;
  --secondary: 223.8136 0.0000% 13.1499%;
  --secondary-foreground: 223.8136 -172.5242% 100.0000%;
  --muted: 223.8136 0.0000% 11.3040%;
  --muted-foreground: 223.8136 0.0000% 64.4710%;
  --accent: 223.8136 0.0000% 19.8916%;
  --accent-foreground: 223.8136 -172.5242% 100.0000%;
  --destructive: 359.9132 100.2494% 67.8807%;
  --destructive-foreground: 0 0% 0%;
  --border: 223.8136 0.0000% 14.0871%;
  --input: 223.8136 0.0000% 19.8916%;
  --ring: 223.8136 0.0000% 64.4710%;
  --chart-1: 40.6655 100.2361% 50.9228%;
  --chart-2: 218.1624 90.0354% 55.1618%;
  --chart-3: 223.8136 0.0000% 45.6078%;
  --chart-4: 223.8136 0.0000% 32.3067%;
  --chart-5: 223.8136 0.0001% 89.5577%;
  --sidebar: 223.8136 0.0000% 6.8692%;
  --sidebar-foreground: 223.8136 -172.5242% 100.0000%;
  --sidebar-primary: 223.8136 -172.5242% 100.0000%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 223.8136 0.0000% 19.8916%;
  --sidebar-accent-foreground: 223.8136 -172.5242% 100.0000%;
  --sidebar-border: 223.8136 0.0000% 19.8916%;
  --sidebar-ring: 223.8136 0.0000% 64.4710%;
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.uk-theme-claude {
  --background: 48 33.33% 97.06%;
  --foreground: 48 19.61% 20%;
  --card: 48 33.33% 97.06%;
  --card-foreground: 60 2.56% 7.65%;
  --popover: 0 0% 100%;
  --popover-foreground: 50.77 19.40% 13.14%;
  --primary: 15.11 55.56% 52.35%;
  --primary-foreground: 0 0% 100%;
  --secondary: 46.15 22.81% 88.82%;
  --secondary-foreground: 50.77 8.50% 30.00%;
  --muted: 44.00 29.41% 90%;
  --muted-foreground: 50.00 2.36% 50.20%;
  --accent: 46.15 22.81% 88.82%;
  --accent-foreground: 50.77 19.40% 13.14%;
  --destructive: 60 2.56% 7.65%;
  --destructive-foreground: 0 0% 100%;
  --border: 50 7.50% 84.31%;
  --input: 50.77 7.98% 68.04%;
  --ring: 210 74.80% 49.80%;
  --chart-1: 18.28 57.14% 43.92%;
  --chart-2: 251.45 84.62% 74.51%;
  --chart-3: 46.15 28.26% 81.96%;
  --chart-4: 256.55 49.15% 88.43%;
  --chart-5: 17.78 60% 44.12%;
  --sidebar: 51.43 25.93% 94.71%;
  --sidebar-foreground: 60 2.52% 23.33%;
  --sidebar-primary: 15.11 55.56% 52.35%;
  --sidebar-primary-foreground: 0 0% 98.43%;
  --sidebar-accent: 46.15 22.81% 88.82%;
  --sidebar-accent-foreground: 0 0% 20.39%;
  --sidebar-border: 0 0% 92.16%;
  --sidebar-ring: 0 0% 70.98%;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark.uk-theme-claude {
  --background: 60 2.70% 14.51%;
  --foreground: 46.15 9.77% 73.92%;
  --card: 60 2.70% 14.51%;
  --card-foreground: 48 33.33% 97.06%;
  --popover: 60 2.13% 18.43%;
  --popover-foreground: 60 5.45% 89.22%;
  --primary: 14.77 63.11% 59.61%;
  --primary-foreground: 0 0% 100%;
  --secondary: 48 33.33% 97.06%;
  --secondary-foreground: 60 2.13% 18.43%;
  --muted: 60 3.85% 10.20%;
  --muted-foreground: 51.43 8.86% 69.02%;
  --accent: 48 10.64% 9.22%;
  --accent-foreground: 51.43 25.93% 94.71%;
  --destructive: 0 84.24% 60.20%;
  --destructive-foreground: 0 0% 100%;
  --border: 60 5.08% 23.14%;
  --input: 52.50 5.13% 30.59%;
  --ring: 210 74.80% 49.80%;
  --chart-1: 18.28 57.14% 43.92%;
  --chart-2: 251.45 84.62% 74.51%;
  --chart-3: 48 10.64% 9.22%;
  --chart-4: 248.28 25.22% 22.55%;
  --chart-5: 17.78 60% 44.12%;
  --sidebar: 30 3.33% 11.76%;
  --sidebar-foreground: 46.15 9.77% 73.92%;
  --sidebar-primary: 0 0% 20.39%;
  --sidebar-primary-foreground: 0 0% 98.43%;
  --sidebar-accent: 60 3.45% 5.69%;
  --sidebar-accent-foreground: 46.15 9.77% 73.92%;
  --sidebar-border: 0 0% 92.16%;
  --sidebar-ring: 0 0% 70.98%;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}


/* Collapsible */
@layer components {
  details {
    &::details-content {
      block-size: 0;
      @apply block opacity-0 transition-discrete transition-all;
    }
    &[open]::details-content {
      block-size: auto;
      block-size: calc-size(auto, size);
      @apply opacity-100;
    }
    summary {
      @apply inline-flex items-center cursor-pointer;
      list-style: none;
    }
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
}